<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>fr</string>
        <string>es</string>
        <string>de</string>
        <string>pt-BR</string>
        <string>ja</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>AppDrop</string>
    <key>CFBundleExecutable</key>
    <string>IPAInstaller</string>
    <key>CFBundleIdentifier</key>
    <string>ca.adrien.appdrop</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AppDrop</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>12</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>MinimumOSVersion</key>
    <string>6.0</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>ca.adrien.appdrop</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>appdrop</string>
            </array>
        </dict>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
    </array>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Icons: legacy CFBundleIconFiles for iPhone iOS 4-5 lookup + modern CFBundleIcons
         dictionary for iOS 5+/iPad. UIPrerenderedIcon=false lets iOS 6 apply its standard
         skeuomorphic treatment on top of our flat source PNG:
         (a) the rounded "squircle" mask that turns the square PNG into the iOS app-icon shape,
         (b) the glossy top-half overlay (the iOS 4-6 "wet floor" reflection).
         Set at all three levels (legacy + CFBundleIcons + CFBundleIcons~ipad) for coverage. -->
    <key>UIPrerenderedIcon</key>
    <false/>
    <key>CFBundleIconFiles</key>
    <array>
        <string>Icon-57.png</string>
        <string>Icon-114.png</string>
        <string>Icon-72.png</string>
        <string>Icon-144.png</string>
        <string>Icon-29.png</string>
        <string>Icon-58.png</string>
        <string>Icon-50.png</string>
        <string>Icon-100.png</string>
        <string>Icon-76.png</string>
        <string>Icon-152.png</string>
        <string>Icon-120.png</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-57</string>
                <string>Icon-114</string>
                <string>Icon-120</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>Icon-72</string>
                <string>Icon-144</string>
                <string>Icon-76</string>
                <string>Icon-152</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
</dict>
</plist>
